<!DOCTYPE html>
<html lang="en" ng-app ="TodoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src = "lib/angular/angular.js"></script>
    <script src = "/index.js"></script>
</head>
<body ng-controller="TodoCtrl as todoCtrl">

    <form name="listForm" novalidate ng-submit = "todoCtrl.addToList()">
        To do:
        <input type="text" id="todoItem" name:"todoItem" size="30" required ng-model = "todoCtrl.todoItem">
        <button type="submit" ng-disabled="todoForm.$invalid" >Add</button>
    </form>

    <h2>My List</h2>

    Search: <input type="text" ng-model="todoCtrl.searchText" size ="30">

    <ol>
        <li ng-repeat = "td in todoCtrl.todoList | filter:todoCtrl.searchText track by $index" ng-class="{pink: $odd}"> <!--loop all in li-->
            <p>
                {{$index|number:2}} {{td | uppercase}} - {{$index| currency}} <!--number set to 2sf, currency sets its look-->
                <button type="button" ng-click="todoCtrl.delete($index)">Delete</button>
            </p> <!--$index is from the loop-->
                
                $index={{$index}}, $odd = {{$odd}}, $last = {{$last}} <!--various variables available in the loop-->
        </li>
    </ol>
</body>
</html>